apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: service-b
  name: service-b
spec:
  replicas: 2
  selector:
    matchLabels:
      app: service-b
  strategy: {}
  template:
    metadata:
      labels:
        app: service-b
    spec:
      containers:
      - image: <your-docker-username>/service-b:0.1
        imagePullPolicy: Always
        ports:
          - containerPort: 3002
        envFrom:
          - configMapRef:
              name: service-b-config
        name: service-b
        resources:
          requests:
            cpu: "250m"
            memory: "512Mi"
          limits:
            cpu: "500m"
            memory: "1Gi" 
status: {}
