apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: service-a
  name: service-a
spec:
  replicas: 2
  selector:
    matchLabels:
      app: service-a
  strategy: {}
  template:
    metadata:
      labels:
        app: service-a
    spec:
      containers:
      - image: <your-docker-username>/service-a:0.1
        imagePullPolicy: Always
        ports:
          - containerPort: 3001
        envFrom:
          - configMapRef:
              name: service-a-config
        name: service-a
        resources: 
          requests:
              cpu: "2"
              memory: "512Mi"
          limits:
              cpu: "2"
              memory: "1Gi"
status: {}
